header{
    width: 500px;
            margin: 20px auto 20px auto;

            border: 1px solid white;
            padding: 20px;
            border-radius: 5px;
}
.search{
    width: 500px;
            margin: 20px auto 20px auto;

            border: 1px solid white;
            padding: 20px;
            border-radius: 5px;
}
.mycards{
    box-sizing: border-box;
    background-color: cornflowerblue;
    width: 400px;
    margin: 20px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
}